# Firebase Configuration
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=

# Initial System Settings
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=
INITIAL_ADMIN_NAME=

# Emulator Settings (For Local Development)
FIRESTORE_EMULATOR_HOST=127.0.0.1:8080
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
